<a href="{{ path('ticket-detail', {slug: ticket.getSlug()}) }}" class="list-group-item list-group-item-action align-items-center">
    <span>{{ticket.getCategory().getTitle()}}</span>
    <span> - </span>
    <span class="fw-bold">{{ticket.getTitle()}}</span>
    <span class="badge bg-primary rounded-pill">{{ticket.getNotClosedTicketCommentsCount()}}</span>        
</a>