{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% include '_partials/title.html.twig' with { title: 'Bienvenue' } only %}
    <p>Inscris toi 😀</p>
    <small>Ou connecte toi !</small>
{% endblock %}
