<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <div>
        {% if category.hasParent() %}
            <span>{{category.getParent().getTitle()}} -> </span>
        {% endif %}
        <span class="fw-bold">{{category.getTitle()}}</span>
        <span class="badge bg-primary rounded-pill">{{category.getTicketCount()}}</span>        
    </div>
    {% if is_granted('ROLE_ADMINISTRATOR') %}
        <button onclick="window.location.href='{{ path('category-edit', {slug: category.getSlug()}) }}'" type="button" class="btn btn-primary">Modifier</button>
    {% endif %}
</a>
{% for child in category.categories %}
    {% include '_partials/category/row.html.twig' with { category: child } only %}
{% endfor %}