<h4>Ajouter un commentaire :</h4>
{{ form_start(ticketCommentForm) }}
    {{ form_row(ticketCommentForm.content) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(ticketCommentForm) }}